<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="container">
            <h1 class="bg-success title-page">
                <i class="fa fa-star" aria-hidden="true"></i>   کنترل پنل ربات تلگرام   <i class="fa fa-star" aria-hidden="true"></i>
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="container">
            <h1 class="bg-warning title-page">ارسال پیام همگانی</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4">
        <form action="/send_notif" method="post">
            <div class="form-group">
                <div class="input-group input-group-btn">
                        <textarea dir="rtl" type="text" id="notif" name="notif" class="form-control"
                                  placeholder="ارسال پیام به تمام استفاده کنندگان از ربات"
                                  style="border-radius: 5px" rows="2"></textarea>
                </div>

            </div>
            <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4">
                <button type="submit" class="btn btn-primary btn-lg">ارسال پیام</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="container">
            <h5 class="bg-danger pull-right">تعداد افراد استفاده کننده از ربات: {{customers_count}} نفر * </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="container">
            <h1 class="bg-warning title-page">زمانهای رزرو شده</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <table class="table table-table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">حذف کامل</th>
                    <th class="text-center">رد</th>
                    <th class="text-center">تایید</th>
                    <th class="text-center">ساعت</th>
                    <th class="text-center">روز</th>
                    <th class="text-center">شماره تلفن</th>
                    <th class="text-center">نام</th>
                </tr>
            </thead>
            <tbody>
                {{#each res}}
                    <tr class="text-center">
                        <td>
                            <form action="/{{this.user_id}}/destroy_user" method="post">
                                <button type="submit" class="btn btn-info"><span class="fa fa-trash"></span></button>
                            </form>
                        </td>
                        {{#unless this.rejected}}
                            <td>
                                <form action="/{{this.user_id}}/remove_user" method="post">
                                    <button type="submit" class="btn btn-info"><span class="fa fa-times"></span></button>
                                </form>
                            </td>
                        {{else}}
                            <td>
                                <p>رد شده</p>
                            </td>
                        {{/unless}}
                        {{#unless this.accepted}}
                            <td>
                                <form action="/{{this.user_id}}/accept_user" method="post">
                                    <button type="submit" class="btn btn-info"><span class="fa fa-check"></span></button>
                                </form>
                            </td>
                        {{else}}
                            <td>
                                <p>تایید شده</p>
                            </td>
                        {{/unless}}
                        <td>{{this.hour}}</td>
                        <td>{{this.day}} - {{this.short_date_jalaali}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.name}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="container">
            <h1 class="bg-warning title-page">کالکشن‌ها</h1>
        </div>
    </div>
</div>
<!--div class="thumbnail">
            <h3 class="caption">{{this.title}}</h3>
            <img src="{{this.imagePath}}" alt="..." class="img-responsive" id="general_img">
            <div class="caption">

                <p class="description">{{this.descriptionBrief}}...</p>
                <div>
                    <div class="clearfix">
                        <br>
                        <div class="pull-left">&nbsp;Author: <a href="/user/profile/{{this.owner.userID}}">{{this.owner.username}}</a></div>
                        <div class="pull-right">{{this.dateFromNow}}</div>
                        <br>
                        <a href="/product/{{this._id}}" class="btn btn-default pull-left btn-primary" role="button">Details ...</a>
                        <a href="/add-to-cart/{{this._id}}" class="btn btn-default pull-right btn-success" role="button">Add To Cart</a>
                        <div class="price pull-right pro-label">${{this.price}}&nbsp;&nbsp;&nbsp;</div>
                    </div>
                </div>
            </div>
        </div-->
<div class="row">
    <div class="col-md-6 col-sm-6">
        <a href="{{col.male.command}}">
            <button type="button" class="btn btn-info btn-lg btn-block custom-button-width navbar-left collection-btn">
                {{col.male.label}}
            </button>
        </a>
    </div>
    <div class="col-md-6 col-sm-6">
        <!-- FELEME DOESN'T HAVE TYPES -> SHOULD BE DIRECTED DIRECTLY (:D) TO THE GENERAL TYPE WHICH WILL BE CREATEAD LATER -->
        <a href="{{col.femele.command}}">
            <button type="button" class="btn btn-info btn-lg btn-block custom-button-width navbar-right collection-btn">
                {{col.femele.label}}
            </button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <a href="{{col.spouse.command}}">
            <button type="button" class="btn btn-info btn-lg btn-block custom-button-width navbar-left collection-btn">
                {{col.spouse.label}}
            </button>
        </a>
    </div>
    <div class="col-md-6 col-sm-6">
        <!-- FELEME DOESN'T HAVE TYPES -> SHOULD BE DIRECTED DIRECTLY (:D) TO THE GENERAL TYPE WHICH WILL BE CREATEAD LATER -->
        <a href="{{col.baby.command}}">
            <button type="button" class="btn btn-info btn-lg btn-block custom-button-width navbar-right collection-btn">
                {{col.baby.label}}
            </button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <a href="{{col.narriage.command}}">
            <button type="button" class="btn btn-info btn-lg btn-block custom-button-width navbar-left collection-btn">
                {{col.narriage.label}}
            </button>
        </a>
    </div>
    <div class="col-md-6 col-sm-6">
        <!-- FELEME DOESN'T HAVE TYPES -> SHOULD BE DIRECTED DIRECTLY (:D) TO THE GENERAL TYPE WHICH WILL BE CREATEAD LATER -->
        <a href="{{col.jewelry.command}}">
            <button type="button" class="btn btn-info btn-lg btn-block custom-button-width navbar-right collection-btn">
                {{col.jewelry.label}}
            </button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <a href="{{col.kafsh.command}}">
            <button type="button" class="btn btn-info btn-lg btn-block custom-button-width navbar-left collection-btn">
                {{col.kafsh.label}}
            </button>
        </a>
    </div>
    <div class="col-md-6 col-sm-6">
        <!-- FELEME DOESN'T HAVE TYPES -> SHOULD BE DIRECTED DIRECTLY (:D) TO THE GENERAL TYPE WHICH WILL BE CREATEAD LATER -->
        <a href="{{col.accessory.command}}">
            <button type="button" class="btn btn-info btn-lg btn-block custom-button-width navbar-right collection-btn">
                {{col.accessory.label}}
            </button>
        </a>
    </div>
</div>
