<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="container">
            <h1 class="bg-warning title-page"> محصولات {{type}} {{gender_persian}} </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-2 col-xs-offset-5 col-xs-2 uploading text-center bg-success progress_"
         id="uploading">

    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form action="/{{gender}}/{{type}}/add" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="filetoupload" multiple="multiple" accept="image/*" class="form-control" required><br>
            </div>
            <div class="form-group">
                <input type="text" id="description" name="description" class="form-control" placeholder="توضیحات" style="direction: rtl;">
            </div>
            {{!--<input type="hidden" name="_csrf" value="{{ csrfToken }}">--}}
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit_btn">افزودن محصول جدید</button>
        </form>
    </div>
</div>
<br><br><br>
{{#each products}}
    <div class="row">
        {{#each this}}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <h3 class="caption text-center">{{this.number}}</h3>
                    {{!--<a href="/{{gender}}/{{this.type_name}}">--}}
                        {{!--<button type="button" class="btn btn-success btn-lg btn-block custom-button-width navbar-left collection-btn">--}}
                            <img src="../{{this.picture}}" alt="..." class="img-responsive" id="general_img">
                            <br>
                            <p class="text-center">
                                {{this.description}}
                            </p>
                        {{!--</button>--}}
                    {{!--</a>--}}
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <form action="/{{gender}}/{{this.type}}/{{this.number}}/previous" method="post">
                                <button type="submit" class="btn btn-primary">انتقال به عقب</button>
                            </form>
                        </div>
                        <div class="btn-group">
                            <form action="/{{gender}}/{{this.type}}/{{this.number}}/delete" method="post">
                                <button type="submit" class="btn btn-danger">حذف محصول</button>
                            </form>
                        </div>
                        <div class="btn-group">
                            <form action="/{{gender}}/{{this.type}}/{{this.number}}/next" method="post">
                                <button type="submit" class="btn btn-primary">انتقال به جلو</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <br>
    <br>
{{/each}}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="container">
            <a href="/{{gender}}">
                <h2 class="bg-warning title-page">
                    بازگشت به مجموعه دسته‌های {{gender_persian}}
                </h2>
            </a>
        </div>
    </div>
</div>